@charset "UTF-8";

body {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 1px;
  word-break: break-all;
  color: #000;
}

a {
  text-decoration: none;
  color: #000;
}


li {
  list-style: none;
}

header {
  width: 100%;
  display: block;
}

.header_all {
  width: 100%;
  background-color: #fff;
}

header .navbar ul {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}

header .navbar ul li {
  display: table-cell;
  margin: 10px 100px 0;
}

header .navbar ul li a {
  color: #009;
  font-weight: bold;
  font-size: 16px;
}

header .navbar ul li a:hover {
  opacity: 0.7;
}

header .drawer {
  visibility: hidden;
}

.about_all {
  position: relative;
  width: 100%;
  height: 500px;
  overflow: hidden;
  background: url("../img/history.jpg") no-repeat center;
  background-size: cover;
}

.about_all::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
}

.about_inner {
  position: absolute;
  text-align: center;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.8;
}

.about_inner h1 {
  font-size: 60px;
  color: #ddd;
}

.about_inner p {
  font-size: 20px;
  color: #ddd;
}

.onsen_title h2 {
  font-size: 60px;
  padding: 50px 0;
  text-align: center;
}

.section {
  padding: 100px 0;
  border-top: solid 3px #9ff;
}

.onsen1 {
  position: relative;
}

.onsen1::after {
  content: "";
  position: absolute;
  background: url("../img/onsen1.jpg") no-repeat center;
  background-size: cover;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
}

.onsen2 {
  position: relative;
}

.onsen2::after {
  content: "";
  position: absolute;
  background: url("../img/onsen2.jpg") no-repeat center;
  background-size: cover;
  top: 0;
  right: 50%;
  width: 50%;
  height: 100%;
}

.descript {
  width: 40%;
  height: 50%;
}

.descript_right {
  margin-left: 60%;
}

.txt h3 {
  font-size: 30px;
  color: #000;
  margin-bottom: 30px;
}

.txt p {
  color: #555;
}

.news_title h2 {
  font-size: 60px;
  text-align: center;
  padding: 50px 0;
}

.news_all p {
  font-size: 16px;
  text-align: center;
  margin-bottom: 20px;
}

footer {
  background-color: #ccc;
  padding: 40px 0;
  text-align: center;
}

.footer_all p {
  margin-top: 20px;
}